html {
  color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: salmon;
  text-align: center;
  color: black;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
  color: black;
}

.editpg {
  text-align: center;
  align-items: center;
}

.editPG {
  margin-top: 5%;
  padding: 10%;
}

.placestitle {
  margin-bottom: 10%;
  padding-bottom: 5
}

.form-group {
  color: black;
  font-weight: bold;
  font-size: 1.1em;
}

.form-control {
  background-color: lightgray;
  width: 100%;
}

.checkbox-container {
  margin-bottom: 10px;
}

.form-control {
  margin-right: 5px;
}

.form-control:checked+label::before {
  content: '\2713';
  color: #00a8ff;
  font-size: 16px;
}

.form-control:focus+label {
  outline: 2px solid #00a8ff;
}

.label {
  font-size: 14px;
}

.addplaceform {
  padding: 1%;
  width: 50%;
  align-items: center;
  margin: auto;
}

.addplacebtn {
  margin-top: 1%;
  padding-top: 2%;
  align-content: center;
  margin: auto;
  width: 30%;
  height: auto;
}

.btn-primary {
  background-color: lightblue;
  color: black;
  font-weight: bold;
  margin-top: 2%;
}

.actionbtn {
  display: inline-flex;
  align-content: space-between;
}

.yellowbtn {
  margin-left: auto;
  width: 60%;
  padding: 1%;
}

.redbtn {
  margin-right: auto;
  width: 60%;
  padding: 1%;
}

.Showpic {
  margin-top: 2%;
  padding: 1%;
  margin-left: 5%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer {
  text-align: center;
  color: black;
  font-weight: bold;
  height: 50px;
}