h1 {
    text-align: center;
    color: cornflowerblue;
  }

.col-sm-6 {
    text-align: center;
    margin-top: 4%;

}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}