html {
  color: black;
}

html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

h1 {
  text-align: center;
  color: cornflowerblue;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: salmon;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

.editpg {
  text-align: center;
  align-items: center;
}

.editPG {
  margin-top: 5%;
  padding: 10%;
}

.btn-primary {
  background-color: lightblue;
  color: black;
  font-weight: bold;
}

.btn btn-warning {
  margin: auto;
}

.btn btn-danger {
  margin: auto;
}

.BBQpic {
  margin: auto;
  padding-top: 5%;
}

footer {
  text-align: center;
  color: black;
  font-weight: bold;
  height: 50px;
}
